# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: "SWT Build"

on:
  workflow_call:
    inputs:
      runner:
        description: "build.runs-on value"
        type: string
        required: true
      java:
        description: "Java version"
        type: string
        required: true
      native:
        description: "Native target identifier (one of gtk.linux.x86_64, win32.win32.x86_64, cocoa.macosx.x86_64, cocoa.macosx.aarch64)"
        type: string
        required: true
      performance:
        description: "Run performance tests too (one of true, false)"
        type: boolean
        required: false
        default: false
      runtodotests:
        description: "Run TODO tagged tests too (one of true, false)"
        type: boolean
        required: false
        default: false
      gtk:
        description: "(Required on Linux only) GTK version to use (one of gtk3, gtk4)"
        type: string
        required: false
        default: ""
      compositor:
        description: "(Required on Linux only) Compositor type to use (one of x11, xwayland, wayland)"
        type: string
        required: false
        default: ""

jobs:
  build:
    runs-on: inputs.runner
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java ${{ inputs.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java }}

      - name: Install Linux requirements
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get update -qq
          # Required tools (GHA normally provides these in their base images)
          sudo apt-get install -qq -y build-essential git
          # GTK3 dependencies
          sudo apt-get install -qq -y libgtk-3-dev freeglut3-dev webkit2gtk-driver
          # GTK4 dependencies
          sudo apt-get install -qq -y libgtk-4-dev freeglut3-dev libwebkitgtk-6.0-4
          # X11 runtimes (GHA normally provides these in their base images)
          sudo apt-get install -qq -y xvfb
          # Wayland runtimes
          sudo apt-get install -qq -y xwayland-run

      - name: Disable AppArmor when testing WebKit on GTK4
        if: runner.os == 'Linux' && inputs.gtk == 'gtk4'
        shell: bash
        run: |
          # WebKit for GTK4 uses bwrap and on Ubuntu 24.04 default settings are not working
          # so turn off apparmor. We are already running in a protected environment, so we
          # don't really need this extra level.
          sudo sysctl kernel.unprivileged_userns_clone=1
          sudo sysctl kernel.apparmor_restrict_unprivileged_userns=0

      - name: Pull large static Windows binaries
        if: runner.os == 'Windows' 
        shell: bash
        run: |
          git lfs pull --include='/binaries/org.eclipse.swt.win32.win32.x86_64/WebView2Loader.dll'

      - name: Set up Java ${{ inputs.java }}
        uses: actions/setup-java@de5a937a1dc73fbc1a67d7d1aa4bebc1082f3190 # v5.0.0
        with:
          java-version: ${{ inputs.java }}
          distribution: 'temurin'
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11

      - name: Build
        env:
          GTK_XCFLAGS: '-Wno-deprecated-declarations'
          SWT_GTK4: "${{ inputs.gtk == 'gtk4' && '1' || '0' }}"
          GDK_BACKEND: "${{ inputs.compositor == 'wayland' && 'wayland' || 'x11' }}"
        shell: bash
        run: >-
          ${{ inputs.compositor == 'x11' && 'xvfb-run' || '' }}
          ${{ inputs.compositor == 'wayland' && 'wlheadless-run --width 1920 --height 1080 -- ' || '' }}
          ${{ inputs.compositor == 'xwayland' && 'wlheadless-run --width 1920 --height 1080 -- xwayland-run -geometry 1920x1080  -- ' || '' }}
          mvn --batch-mode -V -U -e
          --threads 1
          -DforkCount=1
          '-Dnative=${{ inputs.native }}'
          -Papi-check -Pjavadoc
          '-Dtycho.baseline.replace=none'
          --fail-at-end
          -DskipNativeTests=false
          -DfailIfNoTests=false
          ${{ (inputs.runtodotests && inputs.gtk =='gtk4' && inputs.compositor == 'wayland') && '-DexcludedGroups=gtk4-todo,gtk4-wayland-todo' || '' }}
          ${{ (inputs.runtodotests && inputs.gtk =='gtk3' && inputs.compositor == 'wayland') && '-DexcludedGroups=gtk3-wayland-todo' || '' }}
          ${{ (inputs.runtodotests && inputs.gtk =='gtk4' && inputs.compositor != 'wayland') && '-DexcludedGroups=gtk4-todo' || '' }}
          clean install

      - name: Performance tests
        if: inputs.performance
        env:
          SWT_GTK4: "${{ inputs.gtk == 'gtk4' && '1' || '0' }}"
          GDK_BACKEND: "${{ inputs.compositor == 'wayland' && 'wayland' || 'x11' }}"
        working-directory: tests/org.eclipse.swt.tests
        shell: bash
        run: >-
          ${{ inputs.compositor == 'x11' && 'xvfb-run' || '' }}
          ${{ inputs.compositor == 'wayland' && 'wlheadless-run --width 1920 --height 1080 -- ' || '' }}
          ${{ inputs.compositor == 'xwayland' && 'wlheadless-run --width 1920 --height 1080 -- xwayland-run -geometry 1920x1080  -- ' || '' }}
          mvn --batch-mode -V -U -e
          -DforkCount=1
          --fail-at-end
          -DskipNativeTests=true
          -DfailIfNoTests=true
          -Dtest=PerformanceTests
          integration-test

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-results-${{ inputs.native }}${{ inputs.gtk }}${{ inputs.compositor }}-java${{ inputs.java }}${{ inputs.performance == 'yes' && '-performance' || '' }}
          if-no-files-found: warn
          path: |
            ${{ github.workspace }}/**/target/surefire-reports/*.xml
            ${{ github.workspace }}/**/hs_err_pid*.log
            ${{ github.workspace }}/**/*.log
            ${{ github.workspace }}/**/*.dump
            ${{ github.workspace }}/**/*.dumpstream
