name: Publish Unit Test Results

on:
  workflow_run:
    workflows: ["SWT Matrix Build"]
    types:
      - completed

permissions:
  contents: read

jobs:
  discover-results:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion != 'skipped'
    outputs:
      matrix: ${{ steps.build-matrix.outputs.matrix }}
    steps:
      - name: Find test-results from artifacts_url and build dynamic matrix
        id: build-matrix
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          artifacts_url=${{ github.event.workflow_run.artifacts_url || github.event.inputs.artifacts_url }}
          results=$(gh api "$artifacts_url" -q '.artifacts[] | [.name] | @tsv' | grep 'test-results-')

          # Turn the list into JSON: { "result": ["foo","bar", ...] }
          json=$(printf '%s\n' "$results" | jq -R . | jq -s '{result: .}')

          echo "Matrix JSON (pretty): ${json}"
          {
            echo 'matrix<<EOF'
            printf '%s\n' "$json"
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  per-results-job:
    needs: discover-results
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
      contents: read
      issues: read
      actions: read
    strategy:
      # Use the dynamic matrix from the previous job
      matrix: ${{ fromJson(needs.discover-results.outputs.matrix) }}
      fail-fast: false

    steps:
      - name: Downloading ${{ matrix.result }}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          echo "Now working on test results for: ${{ matrix.result }}"

          set -x
          mkdir -p artifacts && cd artifacts

          artifacts_url=${{ github.event.workflow_run.artifacts_url || github.event.inputs.artifacts_url }}

          gh api "$artifacts_url" -q '.artifacts[] | [.name, .archive_download_url] | @tsv' | grep -E 'Event File|${{ matrix.result }}' | while read artifact
          do
            IFS=$'\t' read name url <<< "$artifact"
            gh api $url > "$name.zip"
            unzip -d "$name" "$name.zip"
          done

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        id: test-results
        with:
          check_name: ${{ matrix.result }}
          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: artifacts/Event File/event.json
          event_name: ${{ github.event.workflow_run.event }}
          files: "artifacts/**/*.xml"
