# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: SWT Matrix Build
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [opened, reopened, synchronize, labeled]

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '21' ]
        config: 
          - { name: Linux GTK4 x11,      os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: true,  x11: true }
          - { name: Linux GTK4 xwayland, os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: true,  xwayland: true }
          - { name: Linux GTK4 wayland,  os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: true,  wayland: true }
          - { name: Linux GTK3 x11,      os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: false, x11: true }
          - { name: Linux GTK3 xwayland, os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: false, xwayland: true }
          - { name: Linux GTK3 wayland,  os: ubuntu-latest, native: gtk.linux.x86_64, gtk4: false, wayland: true }
          # - { name: Windows, os: windows-latest, native: win32.win32.x86_64 }
          # - { name: MacOS x86, os: macos-15-intel, native: cocoa.macosx.x86_64 }
          # - { name: MacOS ARM, os: macos-latest, native: cocoa.macosx.aarch64 }
    name: Verify ${{ matrix.config.name }} with Java-${{ matrix.java }}
    runs-on: ${{ matrix.config.os }}
    steps:
    - name: Install Linux requirements
      if: ${{ matrix.config.native == 'gtk.linux.x86_64'}}
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq -y libgtk-3-dev libgtk-4-dev freeglut3-dev webkit2gtk-driver libwebkitgtk-6.0-4 xwayland-run
    - name: Disable AppArmor when testing WebKit on GTK4
      if: ${{ matrix.config.gtk4 }}
      run: |
        # WebKit for GTK4 uses bwrap and on Ubuntu 24.04 default settings are not working
        # so turn off apparmor. We are already running in a protected environment, so we
        # don't really need this extra level.
        sudo sysctl kernel.unprivileged_userns_clone=1
        sudo sysctl kernel.apparmor_restrict_unprivileged_userns=0
    - name: checkout swt
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      with:
       fetch-depth: 0 # required for jgit timestamp provider to work
       lfs: false # lfs-pull is not necessary, the natives are re-build in each run
    - name: Pull large static Windows binaries
      if: ${{ matrix.config.native == 'win32.win32.x86_64'}}
      run: |
        git lfs pull --include='/binaries/org.eclipse.swt.win32.win32.x86_64/WebView2Loader.dll'
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@de5a937a1dc73fbc1a67d7d1aa4bebc1082f3190 # v5.0.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.11
    - name: Build
      env:
        GTK_XCFLAGS: '-Wno-deprecated-declarations'
        SWT_GTK4: "${{ matrix.config.gtk4 && '1' || '0' }}"
        GDK_BACKEND: "${{ matrix.config.wayland && 'wayland' || 'x11' }}"
      run: >-
        ${{ matrix.config.x11 && 'xvfb-run' || '' }}
        ${{ matrix.config.wayland && 'wlheadless-run --width 1920 --height 1080 -- ' || '' }}
        ${{ matrix.config.xwayland && 'wlheadless-run --width 1920 --height 1080 -- xwayland-run -geometry 1920x1080  -- ' || '' }}
        mvn --batch-mode -V -U -e
        --threads 1
        -DforkCount=1
        '-Dnative=${{ matrix.config.native }}'
        -Papi-check -Pjavadoc
        '-Dtycho.baseline.replace=none'
        --fail-at-end
        -DskipNativeTests=false
        -DfailIfNoTests=false
        ${{ matrix.config.gtk4 && '-DexcludedGroups=gtk4-todo' || '' }}
        clean install
    - name: Performance tests
      if: contains(github.event.pull_request.labels.*.name, 'performance')
      env:
        SWT_GTK4: "${{ matrix.config.gtk4 && '1' || '0' }}"
        GDK_BACKEND: "${{ matrix.config.wayland && 'wayland' || 'x11' }}"
      working-directory: tests/org.eclipse.swt.tests
      run: >-
        ${{ matrix.config.x11 && 'xvfb-run' || '' }}
        ${{ matrix.config.wayland && 'wlheadless-run --width 1920 --height 1080 -- ' || '' }}
        ${{ matrix.config.xwayland && 'wlheadless-run --width 1920 --height 1080 -- xwayland-run -geometry 1920x1080  -- ' || '' }}
        mvn --batch-mode -V -U -e
        -DforkCount=1
        --fail-at-end
        -DskipNativeTests=true
        -DfailIfNoTests=true
        -Dtest=PerformanceTests
        integration-test
    - name: Upload Test Results for ${{ matrix.config.name }} / Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: test-results-${{ matrix.config.native }}${{ matrix.config.gtk4 && '-gtk4' || '' }}-java${{ matrix.java }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
          ${{ github.workspace }}/**/hs_err_pid*.log
          ${{ github.workspace }}/**/*.log
          ${{ github.workspace }}/**/*.dump
          ${{ github.workspace }}/**/*.dumpstream
